<h1>Dialog with <%= @name.login %></h1>
<div class="row">
  <%= image_tag("peter.jpg", :alt => "user") %>
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(:action => :send_msg) do %>
        <input type="hidden" name="sender" value="<%= current_user.id %>">
        <input type="hidden" name="receiver" value="<%= @second%>">
        <label>
          Message:
          <textarea name="text"></textarea>
        </label>
        <input type="submit" value="OK" class="btn btn-lg btn-primary"/>
    <% end %>
  </div>
</div>
<ul class="msg-list">
  <% @dialogsm.each do |m| %>
      <li class="msg-item">
        <p class="msg-sender"><%= m[0]%></p>
        <p class="msg-time"><%= m[2] %></p>
        <p class="msg-text"><%= m[1] %></p>
      </li>
  <% end %>
</ul>